*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: montserrat;
}
body{
    background: #FE7BE5;
}
.container{
    background: #F3FDE8;
    max-width: 800px;
    margin: 60px auto;
    height: 1250px;
    padding: 20px;
    box-shadow: 0 2px 20px rgba(0,0,0,0.3);
}
.header{
    text-align: center;
}
.header h1{
    margin-bottom: 10px;
}
.header h3{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500px;
}
.img-area{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* overflow: hidden; */
    /* margin: 25px auto; */
    border: 15px;
}
.img-area img{
    width: 100%;
    height: 200px;
    margin-left: 280px;
    border-radius: 50%;

}
.main{
    display: flex;
    flex-wrap: wrap;
}
.left{
    flex: 1;
    padding: 30px;
}
.left p{
    line-height: 2;
}
.left ul li{
    line-height: 2;
}
h2{
    background: #FFD1DA;
    padding: 15px;
    margin: 30px 0;
    font-size: 20px;
    border-radius: 0 50px 50px 0;
}
.right{
    flex: 1;
    padding: 30px;
}
.right h3{
    margin-bottom: 15px;
}
.right p{
    line-height: 2.9;
}